<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.enc.dao.mapper.common.DictionariesMapper" >

  <select id="getDictionaryTypeListSql" resultType="java.util.Map">
    select * from t_dictionary_type
  </select>

  <select id="getDictionaryByTypeListSql" resultType="java.util.Map">
    select * from t_dictionary where `name` != '无' and `type` = #{type}
  </select>


</mapper>














